<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home Page</title>
  </head>
  <body>
    <h2>Welcome, <%= @user.name %>!</h2>
    <h4>Collections:</h4>
      <ul>
        <% @collections.each do |collection| %>
          <p><%= link_to collection.name, collection_path(collection) %></p>
        <% end %>
      </ul>
      <p><%= link_to "Add Collection", new_collection_path %></p>
  </body>
</html>
